.Auth{
  margin: 20px auto;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: solid 1px #eee;
  box-shadow: 2px 3px 5px #dfd5;
}
@media (min-width: 600px){
  .Auth{
  width: 500px
};
  
}